/* CONTACTO */
  
.formulario {
    background-color: $azulclaro !important;
    padding-bottom: 150px;
    color: $verde;
    margin-top: 176px;
  }
  
  .contenido2 {
    background-color: $azulclaro;
    text-align: center;
    padding-bottom: 150px;
    color: $verde;
  }