*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }
  
  
  .servicios {
    background-color: whitesmoke;
  }
  
  .iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    div {
      color: $verde !important;
    }
  }
  
  .contenedor {
    margin: auto;
    width: 600px;
    height: 400px;
  }
  
  
  
  .iconos div {
    margin-top: 20%;
  }
  
  .contenedor_mapa {
    display: flex;
    justify-content: center;
  }