@import "contenido";
@import "tablet";
@import "cabecera";
@import "tienda";
@import "servicios";
@import "contactos";
@import "carousel";
@import "general";


$verde:#00695c;
$azulclaro:#E7F1F9;
$azulbootstrap:#428bca;

div.reproductor {
    /*Se define el reproductor a la derecha*/
    margin-left: 500px;
    margin-bottom: inherit;
    clear: left;
    position: relative;
}
  
  
  
  
  
  
  
 
  
  
  
 